<mat-sidenav-container class="container">
  <div class="message-log">
    <!-- <mat-tab-group>
         <mat-tab>
            <ng-template mat-tab-label>
               <mat-icon class="example-tab-icon">computer</mat-icon>&nbsp;
               Servers
            </ng-template>
            <br> -->
    <mat-list>
      <mat-list-item *ngFor="let item of dataSource">
        <mat-icon mat-list-icon *ngIf="item.self">public</mat-icon>
        <mat-icon mat-list-icon *ngIf="!item.self">vpn_lock</mat-icon>
        <div mat-line>
          <a [routerLink]="['/servers', 'view', item.id]">{{ item.id }}</a>
        </div>
        <div mat-line *ngIf="item.self" class="dimmed">
          SELF: {{ item.name }}
        </div>
        <div mat-line *ngIf="!item.self" class="dimmed">{{ item.name }}</div>

        <p>
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/servers', 'view', item.id]">
              <mat-icon>source</mat-icon>
              <span>View Server</span>
            </button>
            <button mat-menu-item [routerLink]="['/servers', 'edit', item.id]">
              <mat-icon>edit</mat-icon>
              <span>Edit Server</span>
            </button>
            <mat-divider *ngIf="!item.self"></mat-divider>
            <!-- <button (click)="deleteItem(item)" mat-menu-item *ngIf="!item.self">
              <mat-icon>delete</mat-icon>
              <span>Remove Server</span>
            </button> -->
          </mat-menu>
        </p>
      </mat-list-item>
    </mat-list>

    <!-- </mat-tab>

         <mat-tab>
            <ng-template mat-tab-label>
               <mat-icon class="example-tab-icon">announcement</mat-icon>&nbsp;
               <span matBadge="2" matBadgeOverlap="false">Requests</span>
            </ng-template>

            <div class="requests-container">

               <mat-card class="request-card">
                  <mat-card-header>
                     <div mat-card-avatar class="request-header-image"></div>
                     <mat-card-title>Haxxors Paradise</mat-card-title>
                     <mat-card-subtitle>id:PsPsadkjfdsT13Aab</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                     alt="Photo of a Shiba Inu">
                  <mat-card-content>
                     <p>IP address: 10.0.0.3</p>
                     <p>Sent: 2020-05-26 12:00</p>
                     <p>
                        Message:<br>
                        I want to be your friend! PLZ!!!!
                     </p>
                  </mat-card-content>
                  <mat-card-actions>
                     <button mat-flat-button color="primary">Accept</button>&nbsp;
                     <button mat-flat-button color="accent">Reject</button>&nbsp;
                     <button mat-stroked-button>Block</button>
                  </mat-card-actions>
               </mat-card>


               <mat-card class="request-card">
                  <mat-card-header>
                     <div mat-card-avatar class="request-header-image"></div>
                     <mat-card-title>Shiba Inu</mat-card-title>
                     <mat-card-subtitle>id:PasdfdsT123311b</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                     <p>IP address: 10.0.0.4</p>
                     <p>Sent: 2020-05-26 12:00</p>
                     <p>
                        Message:<br>
                        Add me if you want, or don't. See if I care. I'm just a dog.
                     </p>
                  </mat-card-content>
                  <mat-card-actions>
                     <button mat-flat-button color="primary">Accept</button>&nbsp;
                     <button mat-flat-button color="accent">Reject</button>&nbsp;
                     <button mat-stroked-button>Block</button>
                  </mat-card-actions>
               </mat-card>


            </div>

         </mat-tab>
      </mat-tab-group> -->
  </div>
</mat-sidenav-container>
