# Copy this file to a new file named ".env". The .env file is not committed to the source control.
NODE_ENV=develop
API_KEY=bf83b2d9-cd9e-48f6-a6cc-bcd9c9b48050
DID_METHOD=did:temp

# Number of request pr. IP pr. minute
RATELIMIT=30 # One request every other second.
MAXSIZE=16kb

# List of DID admin accounts separated by ";".
ADMINS=did:is:71f5a5bc254a14d3862896a44856f14b72e433f204b74ca39351bfcbd77dafdf;did:is:71f5a5bc254a14d3862896a44856f14b72e433f204b74ca39351bfcbd77dafdf

# Other DID Servers to sync with, semi-colon separated.
# EXAMPLE: SERVERS=http://127.0.0.1:4250;http://127.0.0.1:4251

# Sync interval in seconds
SYNC_INTERVAL=60

# The verifiable credential can be generated using Blockcore Identity tools:
# VC=eyJraWQiOiJkaWQ6aXM6ZGQ2ZjRjZjNiMThhOGM2NmJmMzJiMzVhZGUxNWQxMDkyYTM2NmZjNzFlZDhkODEzOTVlOTI2OGVhOGMzNWZjNSNrZXkwIiwiYWxnIjoiRVMyNTZLIiwidHlwIjoiSldUIn0.eyJpYXQiOjE2NjkxNDg3MzUsImV4cCI6MjE0NzQ4MzY0NywidmMiOnsiQGNvbnRleHQiOlsiaHR0cHM6Ly93d3cudzMub3JnLzIwMTgvY3JlZGVudGlhbHMvdjEiLCJodHRwczovL2lkZW50aXR5LmZvdW5kYXRpb24vLndlbGwta25vd24vZGlkLWNvbmZpZ3VyYXRpb24vdjEiXSwidHlwZSI6WyJWZXJpZmlhYmxlQ3JlZGVudGlhbCIsIkRvbWFpbkxpbmthZ2VDcmVkZW50aWFsIl0sImNyZWRlbnRpYWxTdWJqZWN0Ijp7ImlkIjoiZGlkOmlzOmRkNmY0Y2YzYjE4YThjNjZiZjMyYjM1YWRlMTVkMTA5MmEzNjZmYzcxZWQ4ZDgxMzk1ZTkyNjhlYThjMzVmYzUiLCJvcmlnaW4iOiJodHRzOi8vbG9jYWxob3N0OjQyNTAifX0sIm5iZiI6MTY2OTE0ODczNSwic3ViIjoiZGlkOmlzOmRkNmY0Y2YzYjE4YThjNjZiZjMyYjM1YWRlMTVkMTA5MmEzNjZmYzcxZWQ4ZDgxMzk1ZTkyNjhlYThjMzVmYzUiLCJpc3MiOiJkaWQ6aXM6ZGQ2ZjRjZjNiMThhOGM2NmJmMzJiMzVhZGUxNWQxMDkyYTM2NmZjNzFlZDhkODEzOTVlOTI2OGVhOGMzNWZjNSJ9.tCCmgPcapltHD-J_T2I0kBujvHQ2du_0dMS1m2GATTz2dVa8zg7SbL6WrrIaaXtgYzF71bA7ZIDU-jfY7zOceA

# The HTTP Server port to run on.
# PORT=4250

# Important to set your own secret key here for JWT sign and verification, use for example: https://delinea.com/resources/password-generator-it-tool
JWT_KEY=jvPKVLJudL9Ipg38SQssAjv7DVexyc5r54Zj4HgJNYrAMkNZqIsbRhZhy4WqJGxz