<div class="grid-container">
  <!-- <h1 class="mat-h1">Dashboard</h1> -->
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">

        <mat-card-header>
          <mat-icon mat-card-avatar>network_check</mat-icon>
          <mat-card-title>Traffic and Data Usage</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="dashboard-card-content">
          <div *ngIf="stats">
            <!-- ?MB disk usage<br>
            ?MB network usage (daily)<br> -->
            {{stats.identities}} <a routerLink="/identities">Identities</a><br>
            {{stats.operations}} <a routerLink="/events">Operations (Events)</a><br>
            {{stats.servers - 1}} <a routerLink="/servers">Servers (+ self)</a><br>
            <br>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Hub Details
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <mat-list>
              <mat-list-item>
                <mat-icon mat-list-icon>account_circle</mat-icon>
                <div mat-line>{{appState.vault.id}}</div>
                <div mat-line class="dimmed">Identity</div>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>account_circle</mat-icon>
                <div mat-line>{{appState.vault.name}}</div>
                <div mat-line class="dimmed">Name</div>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>public</mat-icon>
                <div mat-line>{{appState.vault.url}}</div>
                <div mat-line class="dimmed">Linked Domain</div>
              </mat-list-item>

              <mat-list-item>
                <!-- <mat-icon mat-list-icon>public</mat-icon> -->
                <div mat-line><button mat-button routerLink="/setup">EDIT</button></div>
              </mat-list-item>

              <!-- <mat-list-item>
                <mat-icon mat-list-icon>vpn_lock</mat-icon>
                <div mat-line>10.0.0.1</div>
                <div mat-line class="dimmed">Private IP Address</div>
              </mat-list-item> -->
            </mat-list>
          </div>
        </mat-card-content>
      </mat-card>


    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Enabled Features and Apps
            <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu> -->
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content scrollable">
          <div>

            <!-- <mat-action-list>
              <div mat-subheader>Features</div>
              <button mat-list-item *ngFor="let folder of features">
                <mat-icon mat-list-icon>{{folder.icon}}</mat-icon>
                <div mat-line>{{folder.name}}</div>
                <div mat-line class="dimmed">{{folder.description}}</div>
              </button>

              <div mat-subheader>Apps</div>

              <button mat-list-item *ngFor="let note of apps">
                <mat-icon mat-list-icon>{{note.icon}}</mat-icon>
                <div mat-line>{{note.name}}</div>
                <div mat-line class="dimmed">{{note.description}}</div>
              </button>

            </mat-action-list> -->


          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">

      <mat-card class="dashboard-card">

        <mat-card-header>
          <mat-icon mat-card-avatar matBadge="2" matBadgeColor="primary">announcement</mat-icon>
          <mat-card-title>Requests</mat-card-title>
          <mat-card-subtitle>Incoming requests for approval</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="dashboard-card-content">
          <div>


          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>