<mat-sidenav-container class="container">
  <mat-sidenav #drawer [(opened)]="isEditing" mode="side" position="end" class="sidepanel">

    <div class="sidepanel-top" *ngIf="message">

      <span *ngIf="!message._id">Create</span>
      <span *ngIf="message._id">Edit</span>

      <button (click)="drawer.toggle()" mat-icon-button color="primary">
        <mat-icon>close</mat-icon>
      </button>

    </div>

    <mat-card class="profile-card" *ngIf="message">
      <mat-card-header>

        <!-- <div mat-card-avatar></div> -->
        <mat-icon mat-card-avatar mat-list-icon class="request-header-image">{{icon(message.category)}}
        </mat-icon>

        <mat-card-title>{{message.title}}</mat-card-title>
        <mat-card-subtitle>{{message.category}}</mat-card-subtitle>
      </mat-card-header>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
           alt="Photo of a Shiba Inu"> -->
      <mat-card-content>

        <div *ngIf="message._id">
          ID: {{message._id}}<br><br>
        </div>

        <mat-form-field appearance="outline" class="input-full-width">
          <mat-label>Category</mat-label>
          <input matInput [(ngModel)]="message.category" placeholder="Title">
          <mat-icon matSuffix>category</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-full-width">
          <mat-label>Code</mat-label>
          <input matInput [(ngModel)]="message.code" placeholder="Code">
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-full-width">
          <mat-label>Active (you must manually disable previous active)</mat-label>
          <input matInput [(ngModel)]="message.active" placeholder="Active">
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-full-width">
          <mat-label>Title</mat-label>
          <input matInput [(ngModel)]="message.title" placeholder="Title">
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-full-width">
          <mat-label>Personalized</mat-label>
          <input matInput [(ngModel)]="message.abstract" placeholder="Text with {name} tag">
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-full-width">
          <mat-label>Content</mat-label>
          <textarea matInput rows="8" [(ngModel)]="message.content" placeholder="Content"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-full-width">
          <mat-label>Teaser</mat-label>
          <textarea matInput rows="8" [(ngModel)]="message.teaser" placeholder="Teaser"></textarea>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" (click)="saveEdit()">Save</button>
        <button mat-stroked-button (click)="cancelEdit()">Cancel</button>
      </mat-card-actions>
    </mat-card>

    <mat-accordion *ngIf="message?._id" class="example-headers-align" multi>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Actions
          </mat-panel-title>
          <mat-panel-description>
            Danger Zone
            <mat-icon>build_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <button mat-flat-button (click)="deleteMessage(message)" color="warn">Delete Message Template</button>

      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav>

  <div class="message-log">

    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let item of dataSource" (click)="selectMessage(item)" [value]="item">

        <mat-icon mat-list-icon>{{icon(item.category)}}</mat-icon>
        <div mat-line> {{item.title}} </div>
        <div mat-line>{{item.category}}</div>

      </mat-list-option>
    </mat-selection-list>

  </div>

</mat-sidenav-container>
