<mat-sidenav-container class="container">
  <mat-sidenav #drawer [(opened)]="isEditing" mode="side" position="end" class="sidepanel">

    <div class="sidepanel-top" *ngIf="message">

      <span *ngIf="!message._id">Create</span>
      <span *ngIf="message._id">Edit</span>

      <button (click)="drawer.toggle()" mat-icon-button color="primary">
        <mat-icon>close</mat-icon>
      </button>

    </div>

    <mat-card class="profile-card" *ngIf="message">
      <mat-card-header>

        <mat-icon mat-card-avatar mat-list-icon class="request-header-image">{{icon(message.category)}}
        </mat-icon>

        <mat-card-title>{{message._id}}</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <div>
          {{message | json}}
        </div>

      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button (click)="cancelEdit()">Close</button>
      </mat-card-actions>
    </mat-card>

  </mat-sidenav>

  <div class="message-log">

    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let item of dataSource" (click)="selectMessage(item)" [value]="item">

        <mat-icon mat-list-icon>{{icon(item.category)}}</mat-icon>
        <div mat-line> {{item | json}} </div>

      </mat-list-option>
    </mat-selection-list>

  </div>

</mat-sidenav-container>