.peer-item {

}

.peer-item-address {
   color: gray;
}

.peer-item {
   box-shadow: 0px 8px 16px 0px var(--shadow);
   border: 1px solid var(--foreground-light);
   padding: 0.5em;
   background-color: var(--box-background);
 }

 .peer-item-connected-lan {
    background-color: var(--box-positive-background);
 }

 .request-card {
   max-width: 400px;
   margin-bottom: 2em;
 }
 
 .request-header-image {
   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
   background-size: cover;
 }
 
 .requests-container {
   padding: 4em;
 }

 