/* .scrollable {
  overflow-y: scroll;
  height: calc(100% - 48px);
} */




/* .example-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dimmed {
  color: silver;
}





.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search-full-width {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}

.message-input-full-width {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  margin-top: 4em;
}

.message-log {
  display: block;
  margin-left: 1em;
  margin-right: 1em;
}

.message{
  
  margin-top: 1em;
  padding: 1em 1em;
}

.message-left {
  border-radius: 1.2em 1.2em 1.2em 0;
  color: black;
  margin-right: 2em;
  background-color: white;
}

.message-right {
  border-radius: 1.2em 1.2em 0 1.2em;
  color: white;
  margin-left: 2em;
  background-color: #c2185b;
}

.profile-card {
}

.card-avatar-icon {
  font-size: 3em;
}

.list-margin {
  margin-right: 1em;
}


.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.message-time {
  color: silver;
  display:block;
  font-size: 0.8em;
}

 */