<div class="setup-container">

    <div [class.mat-elevation-z8]="true" class="setup-section">

        <p>
            This page allows you to generate a valid and signed Vault Configuration that can be used to configure an
            individual Blockcore Data Vault.
        </p>

        <p>
            {{appState.identity | json}}
        </p>

        <p>
            <mat-form-field appearance="outline" class="input-full-width">
                <mat-label>Id</mat-label>
                <input matInput [(ngModel)]="id" readonly autocomplete="off"
                    placeholder="Public Key of your Data Vault identity">
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-full-width">
                <mat-label>Domain (URL)</mat-label>
                <input matInput [(ngModel)]="url" autocomplete="off" placeholder="https://yourdomain">
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-full-width">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="name" autocomplete="off" placeholder="Name of your Data Vault">
            </mat-form-field>

            <mat-checkbox [(ngModel)]="enabled">Enabled</mat-checkbox>
            <br>

            <!-- <mat-form-field appearance="outline" class="input-full-width">
                <mat-label>Description</mat-label>
                <textarea matInput rows="8" autocomplete="off" [(ngModel)]="description"
                    placeholder="Description of your Data Vault"></textarea>
            </mat-form-field> -->

            <!-- <mat-form-field appearance="outline" class="input-full-width">
                <mat-label>Data Vault Identity Private Key</mat-label>
                <input matInput [(ngModel)]="key" autocomplete="off" placeholder="Data Vault Identity Private Key">
            </mat-form-field> -->

        </p>

        <p>
            <button mat-flat-button color="primary" (click)="saveEdit()">Generate</button>&nbsp;
            <button mat-stroked-button (click)="cancelEdit()">Clear</button>
        </p>

        <p>
            <mat-form-field appearance="outline" class="input-full-width">
                <mat-label>Generated and Signed .well-known Configuration</mat-label>
                <textarea matInput rows="12" [(ngModel)]="configurationJson"></textarea>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline" class="input-full-width">
                <mat-label>Vault Setup Configuration</mat-label>
                <textarea matInput rows="12" [(ngModel)]="setupDocumentJson"></textarea>
            </mat-form-field>
        </p>

        <p>
            <button mat-flat-button color="primary" (click)="save()">Save</button>
        </p>

        <script>
            $(document).ready(function () {
                $('input').attr('autocomplete', 'off');
            });
        </script>

    </div>

</div>