.setup-container {
   padding: 2em;
   box-sizing: border-box;
}

.setup-section {
   padding: 2em;
   box-sizing: border-box;
}

.request-header-image {
   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
   background-size: cover;
 }